.row {
    background-color:#fff;
    height: 100vh;
    margin:0px;
}

.container {
    margin:0px;
    padding:0px;
}

.row .row {
    height:50vh;
    background-color:#41A0DC;
}

.container {
    width:100%;
}

.artist-image {
    max-height:50vh;
}


.start {
    background-color:#F0646E;
    padding-top:15vh;
    color:#fff;
}

.start input {
    color:#000;
}

h1 {
}

#name {
    width:300px;
    margin-bottom:.5em;
    background-color:rgba(255,255,255,0.1);
    border:0px;
    outline: none;
    box-shadow:none !important;
    border: 0px;
    padding-left:10px;
    border-bottom: 1px solid #ccc;
    color:#fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #942C2C;
}

#who-with {
    padding-top:10vh;
    background-color:#3C5A8C;
    color:#fff;
    position:relative;
}

#who-me {
    padding-top:10vh;
    background-color:#3C5A8C;
    color:#fff;
    position:relative;
}


#who {
    position:absolute;
    top: 0px;
    padding-left:10px;
    background-color:rgba(0,0,0,0.7);
    padding:1em;
}

#who2 {
    position:absolute;
    top: 0px;
    padding-left:10px;
    background-color:rgba(0,0,0,0.7);
    padding:1em;
}

.bottom-of-parent {
    position:absolute;
    bottom: 0px;
    width:100%;
    text-align:center;
}

.black-hover {
    display: block;
    z-index: 3;
    position: absolute;
    background:rgba(0,0,0,0.7);
    color:#fff;
    width:100%;
}
.black-hover-bottom {
    display: block;
    z-index: 3;
    position: absolute;
    bottom:0;
    right:0;
    text-align:left;
    width:100%;
    background:rgba(0,0,0,0.7);
    color:#fff;
    width:100%;
    font-size:2em;
    padding:.5em;
}

#map-canvas {
    width:100vw;
    height:100vh;
}

.noverflow img {
    max-width:100%;
    max-height:100%;
}

.thing-icon {
    -webkit-filter: invert(1);
    height:50px;
    width:50px;
    border: 0px solid #0F9B91;
    background-color:#0F9B91;
    border-radius:50%;
    padding:12px;
    margin-left:1em;
}

.thing-to-do {
    font-size:16pt;
    margin-bottom:1em;
    color:#fff;
    height:50px;
}

.thing-to-do hr {
    width:225px;
    margin-right:0px;
}

.middlish {
    text-align:right;
}

.middlish h1 {
    color:#fff;
    margin-bottom:.5em;
}

.middlish {
    padding-right:4em;
}

.middlish img {
}

.middlish a {
    color:#F0646E;
}

.thing-text {
    height:50px;
}

#finalslide {
    background-color:#373737;
    color:#fff;
    margin-top:-20px;
    padding-bottom:30px;
}

.final-text {
    text-align:center;
}

.final-text p {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
}

.large-text {
    font-size:3em;
}

.venue-text {
}

.location-title {
    padding-top:1.5em;
    background-color:#3C5A8C;
    padding-bottom:2em;
    color:#fff;
}

.location-title h1 {
    margin-bottom:0em;
}

#finalslide a {
    color:#41A0DC;
}

.btn-primary {
    background-color:#41A0DC;
    color:#FFF !important;
}

.btn-go {
    font-size:1em;
    border-radius: 15px;
    padding:12 25 12 25;
}

@font-face
{
    font-family: Yanone Kaffeesatz;
    src: url(http://samphippen.com/yanone.ttf);
}

.pagetitle {
    font-size:8em;
    font-family: Yanone Kaffeesatz;
}

.description {
    font-size:2em;
    font-weight:200;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

#another-loading {
    height:1em;
    color:#fff;
}

a img {
    text-decoration:none;
}

#final-show {
    font-family: Yanone Kaffeesatz;
    font-size:6em;
}

#pause {
    position: fixed;
    bottom:0px;
    left:0px;
    padding:15px;
    display:none;
    z-index:5;

}

#pause-butan {
    color:#fff;
}

#link-box {
    color:#000;
    width:500px;
    padding:5px 15px;
    margin-bottom:1em;
    background-color:rgba(255,255,255,0.2);
    border:0px;
    outline: none;
    box-shadow:none !important;
    color:#fff;
}

#twitter-link {
    margin-bottom:2em;
}

.brightpink {
    color:#fff;
    font-size:2em;
}
