<html>
    <head>
        <title>
            This is your tour
        </title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="http://demos.flesler.com/jquery/scrollTo/js/jquery.scrollTo-min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo6tSNUvwgdDZR-4wVqS52Q859meuVhu8&sensor=true"></script>
        <script src="static/js/main.js"></script>
  </script>
    </head>
    <body>
        <div class="container">
            <div class="row start">
                <div class="text-center">
                    <h1 class='pagetitle'>This is your tour</h1>
                    <p class='description'>An awesome, one shot, all the details tour planner</p>
                    <br>
                    <h2>
                        Plan me a tour for <input id='name' placeholder='e.g. Ellie Goulding'>
                        <br>
                        <a href="#" id='plan' class='btn btn-primary btn-go'>Go!</a>
                    </h2>
                    <div id="spinner" style="display:none;">Working</div>
                </div>
            </div>
            <div class="row" style="display:none;" id='who-with'>
                <div id="who">
                    <h1>You'll be touring with <span id='other-party-name'></span></h1>
                        <div class="text-center" id="other-party">
                        </div>
                    <h2 id="other-party-text"></h2>
                </div>
                <div class="bottom-of-parent">
                    <a href="javascript:void();" id="show-big-map" class="btn btn-primary">
                        Party
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                    <div id='another-loading'></div>
                </div>
            </div>
            <div class="row" style="display:none;" id='places'>
                <div class="text-center black-hover">
                    <h1 id="destinations">You've got big fans in:</h1>
                </div>
                <div id="map-canvas">
                </div>
            </div>
            <div id="stops">
            </div>
            <div class="row text-center" style="display:none": id='finalslide'>
                <h1 id='final-show'></h1>
                <hr/>
                <div class='solution'>
                    <span class="large-text">A<br></span>
                    <a href="http://funandplausible.com" style="text-decoration: none; border: 0px;">
                        <img src="static/img/logo-grey-blue-blue.png" height="200">
                    </a>
                    <span class="large-text">
                        <br>
                    by <a href="https://twitter.com/alsothings">Ben</a> and <a href="https://twitter.com/samphippen">Sam</a>
                    </span>
                    <br>
                    <br>
                    <br>
                    <a href="mailto:bothofus@funandplausible.com" class="btn btn-primary">Contact us</a>
                <hr/>
                </div>
            </div>
        </div>
    </body>
</html>
